@import url('../../App.css');

.new__content{
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
}

.new__content .card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    border: 1px solid #d6d6d6;
    padding: var(--mg-7);
    border-radius: 15px;
    justify-items: center;
}

.new__content .card .card__data span{
    color: var(--primary-color-alt);
}

.new__content .card .card__data h2{
    color: var(--title-color);
    margin-bottom: var(--mg-7);
    display: flex;
    justify-content: space-between;
}

.new__content .card .card__data h3{
    display: flex;
    justify-content: space-between;
    color: var(--title-color);
}

@media screen and (min-width: 600px) {
    .new__content{
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .new__content .card    {
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
}
