@import url('../../App.css');

.services__sec{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--container3-color);
}

.services__content{
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
}

.card{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: var(--mg-6);
}

.card .card__icon{
    background-color: var(--container2-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: var(--h2-font-size);
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--mg-8);
}

.card h3{
    color: var(--container-color);
    font-weight: 400;
}

@media screen and (min-width: 600px) {
    .services__content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 1200px) {
    .services__content{
        grid-template-columns: repeat(4,1fr);
    }
}
